* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.header {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.main4 {
  color: white;
}

.main3 {
  display: flex;
  align-items: center;
  margin: 0px 15px;
  color: white;
  /* justify-content: center; */
}

.main {
  display: flex;
  width: 50%;
  background-color: #FF6A00;
  border-radius: 30px;
  padding: 3px 0px;
}

.mainImg {
  margin: 25px 20px;
  width: 180px;
}

.mainInp {
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  width: 485px;
  padding: 10px 8px;
  margin-left: 3px;
  border: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1;
  font-size: 15px;
}

.main1 {
  display: flex;
  margin-left: 15px;
  margin-top: 2px;
  cursor: pointer;
  /* text-align: center; */
  /* align-items: center; */
  justify-content: center;
}

.main1 p {
  color: white;
  /* font-weight: bold; */
  font-size: 18px;
  margin: 0 5px;
}

.main1Icon {
  color: white;
  margin-top: 2px;
  /* font-size: 10px; */
}

.box {
  margin: 20px 20px;
  cursor: pointer;
}

.signIn {
  display: flex;
  margin-left: 35px;
  text-align: center;
  justify-content: center;
}

.signIn small {
  text-align: start;
  color: #717170;
}

.signIcon {
  /* width: 20px ; */
  font-size: 35px !important;
  color: #717170;
}

.message {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
  margin-left: 35px;
}

.messageIcon {
  color: #717170;
}

.message small {
  color: #717170;
  cursor: pointer;
}

.message small:hover {
  color: #FF6A00;
  cursor: pointer;
}

.cart {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
  margin-left: 35px;
}

.carticon {
  color: #717170;
}

.cart small {
  color: #717170;
}

.cart small:hover {
  color: #FF6A00;
  cursor: pointer;
}

.nav {
  display: flex;
}

.nav p {
  color: #717170;
  font-size: 15px;
}

.nav p:hover {
  color: #FF6A00;
  cursor: pointer;
}

.card{
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}